<mj-section background-color="#f3f3f3">
  <mj-column>
    <mj-text mj-class="action-fallback">
      If you are having trouble clicking the button, copy paste the url:
      <a href="<%=link%>" style="color: #1d4ed8"> <%= link %></a>
    </mj-text>
  </mj-column>
</mj-section>
