<tr>
  <td align="left" style="font-size:0px;padding:8px 24px;word-break:break-word;">
    <div
      style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:18px;line-height:1;text-align:left;color:#000000;">
      <p>
        <%= text %>
      </p>
    </div>
  </td>
</tr>