<mj-section background-color="#fbfbfb">
  <mj-column>
    <mj-table css-class="table">
      <tr style="border-bottom: 1px solid #d1d5db; text-align: left">
        <% for(let heading of table[0]) { %>
          <th><%= heading %></th>
        <% } %>
      </tr>
      <% for(let i=1;i<table.length;i++) { %>
        <tr>
        <% for(let data of table[i]) { %>
          <td><%= data %></td>
        <% } %>
        </tr>
      <% } %>
    </mj-table>
  </mj-column>
</mj-section>
