.default-bg {
  background-color: #d1deec;
}

.header {
  background-color: #f5f6f6;
}

.footer {
  background-color: #f5f6f6;
}

.card {
  background-color: #f5f6f6;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.tableClass {
  /* background-color: #cccccc; */
  border: 4px solid black;
  /* font-style: italic; */
}
